.header{
  background-color: #F8F8F8;
}
.header__container{
  padding: 24px 16px 0px 16px;
  max-width: 1500px;
  margin: 0px auto;
}
.header__item{
  background: none;
  display: none;
}
.header__title{
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  font-weight: bold;
  position: relative;
  font-family: 'TT Lakes';
}
.header__title::before{
  content: "";
  position: absolute;
  left: -16px;
  width: 4px;
  height: 40px;
  background: #41F6D7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.header__subtitle{
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.2px;
  color: #1B1C21;
}
.header__subtitle--disabled{
  display: none;
}
.header__items{
  display: flex;
}
@media(min-width: 1120px){
  .header__menu{
    display: none;
  }
  .header__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__subtitle--disabled{
    display: block;
  }
  .header__item{
    display: flex;
    align-items: center;
    margin-right: 32px;
  }
  .header__item:last-child{
    margin-right: 0px;
  }
  .header__subtitle{
    margin-right: 8px;
  }
  .header__title::before{
    left: -32px;
  }
  .header__container{
    padding: 42px 32px 0px 32px;
  }
}
