.read-more{
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
}

.read-more__switcher{
  margin-right: 16px;
  flex-direction: column;
  color:#03ffff;
  font-weight: bold;
  font-size: 20px;
  line-height: 7px;
}

.read-more__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.read-more__image {
  display: inline-block;
}